#### 1. Import pandas library

In [56]:
import pandas as pd
import numpy as np

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [3]:
engine = create_engine("mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/stats")

#### 4. Import the users table

In [4]:
users = pd.read_sql_query('SELECT * FROM users', engine)
users.head(1)

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None

#### 5. Rename Id column to userId

In [5]:
users.rename(columns = {'Id':'userId'}, inplace = True)
users.head(1)

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None

#### 6. Import the posts table.

In [6]:
posts = pd.read_sql_query('SELECT * FROM posts', engine)

In [7]:
posts.head(1)

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None

#### 7. Rename Id column to postId and OwnerUserId to userId

In [8]:
posts.rename(columns = {'Id':'postId'}, inplace = True)
posts.rename(columns = {'OwnerUserId': 'userId'}, inplace = True)

In [9]:
posts.head(1)

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [24]:
users = users[['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]
posts = posts[['postId', 'Score', 'userId', 'ViewCount', 'CommentCount']]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [35]:
users_posts = users.merge(posts, left_on='userId', right_on = 'postId')

In [36]:
users_posts.head(1)

,userId_x,Reputation,Views,UpVotes,DownVotes,postId,Score,userId_y,ViewCount,CommentCount
0,2,101,25,3,0,2,22,24.0,8198.0,1

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [43]:
null_cols = users_posts.isnull().sum()
null_cols = null_cols[null_cols > 0].sort_values()
print(null_cols)
print(null_cols.index)

userId_y    772
dtype: int64
Index(['userId_y'], dtype='object')

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [76]:
# I think the best option is to fill them because they can come null because it´s a post with 0 views.
# print(users_posts['ViewCount'][users_posts['ViewCount'] == 0 ])
# This says that there are no posts with 0 views but i think thats unlikely.
# So to be safe i´m going to replace the NaN with 0´s 

users_posts['userId_y'].fillna(0, inplace = True)
print(users_posts['ViewCount'].isnull().sum())
#We print the result to check there are no NaN and only 0´s intead.  

#df = df.replace(np.nan, 0)

0

In [79]:
users_posts['userId_y']

0           24
1           18
2           23
3           23
4            5
         ...
32052    24164
32053    10961
32054     4598
32055    20315
32056    10619
Name: userId_y, Length: 32057, dtype: int64

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [80]:
users_posts = users_posts.astype({'ViewCount': 'int64'})
users_posts = users_posts.astype({'userId_y': 'int64'})

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.

In [81]:
users_posts.describe()

,userId_x,Reputation,Views,UpVotes,DownVotes,postId,Score,userId_y,ViewCount,CommentCount
count,32057.000000,32057.000000,32057.000000,32057.000000,32057.000000,32057.000000,32057.000000,32057.000000,32057.000000,32057.000000
mean,25849.602521,92.393487,10.162804,7.443990,0.238045,25849.602521,3.872446,6753.162554,464.441027,1.993231
std,16121.814513,873.063852,171.205030,145.805713,6.262672,16121.814513,6.330174,6195.897107,2388.137566,2.676007
min,2.000000,1.000000,0.000000,0.000000,0.000000,2.000000,-13.000000,-1.000000,0.000000,0.000000
25%,11377.000000,1.000000,0.000000,0.000000,0.000000,11377.000000,1.000000,1251.000000,0.000000,0.000000
50%,25194.000000,13.000000,1.000000,0.000000,0.000000,25194.000000,2.000000,5029.000000,0.000000,1.000000
75%,40885.000000,101.000000,3.000000,0.000000,0.000000,40885.000000,5.000000,10841.000000,240.000000,3.000000
max,55747.000000,87393.000000,20932.000000,11442.000000,779.000000,55747.000000,192.000000,55226.000000,143055.000000,45.000000

In [82]:
df2 = users_posts

In [83]:
df2.describe()

,userId_x,Reputation,Views,UpVotes,DownVotes,postId,Score,userId_y,ViewCount,CommentCount
count,32057.000000,32057.000000,32057.000000,32057.000000,32057.000000,32057.000000,32057.000000,32057.000000,32057.000000,32057.000000
mean,25849.602521,92.393487,10.162804,7.443990,0.238045,25849.602521,3.872446,6753.162554,464.441027,1.993231
std,16121.814513,873.063852,171.205030,145.805713,6.262672,16121.814513,6.330174,6195.897107,2388.137566,2.676007
min,2.000000,1.000000,0.000000,0.000000,0.000000,2.000000,-13.000000,-1.000000,0.000000,0.000000
25%,11377.000000,1.000000,0.000000,0.000000,0.000000,11377.000000,1.000000,1251.000000,0.000000,0.000000
50%,25194.000000,13.000000,1.000000,0.000000,0.000000,25194.000000,2.000000,5029.000000,0.000000,1.000000
75%,40885.000000,101.000000,3.000000,0.000000,0.000000,40885.000000,5.000000,10841.000000,240.000000,3.000000
max,55747.000000,87393.000000,20932.000000,11442.000000,779.000000,55747.000000,192.000000,55226.000000,143055.000000,45.000000

In [84]:
df3 = df2[['Reputation', 'Views', 'UpVotes','DownVotes','Score', 'ViewCount', 'CommentCount']]

In [85]:
 df3.mean()+2*df3.std()

Reputation      1838.521191
Views            352.572863
UpVotes          299.055416
DownVotes         12.763390
Score             16.532795
ViewCount       5240.716159
CommentCount       7.345246
dtype: float64

In [21]:
columnas =['Reputation', 'Views', 'UpVotes','DownVotes','Score', 'ViewCount', 'CommentCount']

In [22]:
 df3.mean()-2*df3.std()

Reputation     -23922.141927
Views           -4725.902848
UpVotes         -3367.422936
DownVotes        -236.599622
Score              -7.117077
ViewCount       -3005.269409
CommentCount       -3.382758
dtype: float64

In [23]:
outliers = df3[['Reputation', 'Views', 'UpVotes','DownVotes','Score', 'ViewCount', 'CommentCount']]

In [87]:
for i in range (len(df3)):
    if (df3['Reputation'][i]> df3['Reputation'].mean()+2*df3['Reputation'].std()):
        df3['Outliers'][i]='True'

C:\Users\emili\AppData\Local\Temp\ipykernel_12340\1566701862.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Outliers'][i]='True'

In [86]:
df3['Outliers'] = 'False'

C:\Users\emili\AppData\Local\Temp\ipykernel_12340\3340795219.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Outliers'] = 'False'

In [ ]:
 [df3.mean()+2*df3.std()][0]

In [97]:
c = 0
for i in range(len(df3)):
    if df3['Outliers'][i] == 'True':
        c += 1
c

150

In [101]:
from scipy import stats
detect_outliers = users_posts[['Reputation', 'Views', 'UpVotes','DownVotes','Score', 'ViewCount', 'CommentCount']]
outliers = detect_outliers[(np.abs(stats.zscore(detect_outliers)) > 2)]

In [102]:
"""
Any z-score greater than 3 or less than -3 is considered to be an outlier.
From this rule we see that almost all of the data (99.7%) should be within three standard deviations from the mean.
"""

'\nAny z-score greater than 3 or less than -3 is considered to be an outlier.\nFrom this rule we see that almost all of the data (99.7%) should be within three standard deviations from the mean.\n'

In [110]:
outliers

       Reputation   Views  UpVotes  DownVotes  Score  ViewCount  CommentCount
0             NaN     NaN      NaN        NaN   22.0     8198.0           NaN
1             NaN     NaN      NaN        NaN   54.0        NaN           NaN
2             NaN     NaN      NaN        NaN    NaN        NaN           NaN
3          6792.0  1145.0    662.0        NaN   81.0        NaN           NaN
4             NaN     NaN      NaN        NaN  152.0    29229.0           NaN
...           ...     ...      ...        ...    ...        ...           ...
32052         NaN     NaN      NaN        NaN    NaN        NaN           NaN
32053         NaN     NaN      NaN        NaN    NaN        NaN           NaN
32054         NaN     NaN      NaN        NaN    NaN        NaN           NaN
32055         NaN     NaN      NaN        NaN    NaN        NaN           NaN
32056         NaN     NaN      NaN        NaN    NaN        NaN           NaN

[32057 rows x 7 columns]

In [111]:
outliers.dropna(how = 'all')

       Reputation   Views  UpVotes  DownVotes  Score  ViewCount  CommentCount
0             NaN     NaN      NaN        NaN   22.0     8198.0           NaN
1             NaN     NaN      NaN        NaN   54.0        NaN           NaN
3          6792.0  1145.0    662.0        NaN   81.0        NaN           NaN
4             NaN     NaN      NaN        NaN  152.0    29229.0           NaN
5             NaN     NaN      NaN        NaN   76.0     5808.0           NaN
...           ...     ...      ...        ...    ...        ...           ...
32008         NaN     NaN      NaN        NaN   40.0        NaN           NaN
32010         NaN     NaN      NaN        NaN   45.0        NaN           NaN
32016         NaN     NaN      NaN        NaN   23.0        NaN           NaN
32022         NaN     NaN      NaN        NaN    NaN        NaN          10.0
32029         NaN     NaN      NaN        NaN    NaN        NaN          10.0

[2741 rows x 7 columns]

In [112]:
outliers.to_csv('outliers.csv')